.buttonsContainer {
	display: flex;
	justify-content: center;
	margin-top: 85vh;
	position: absolute;
	width: 100%;
	z-index: $button-layer;
}
.buttonWrapper {
	align-self: center;
	margin: 10px 20px;
}
.appButton {
	@include fluid-type(font-size, 300px, 1200px, .9rem, 1.5rem);
	@include fluid-type(height, 300px, 1200px, 25px, 40px);
	@include fluid-type(width, 300px, 1200px, 25px, 40px);
	@include fluid-type(border-radius, 300px, 1200px, 6px, 10px);

	background-color: $transparent-gray;
	border: solid 2px $mid-white;
	color: $transparent-white;
	outline: none;
	text-align: center;
	transition: ease-in-out $transparency-transition;
	&:hover {
		background-color: $opaque-gray;
		border: solid 1px $opaque-white;
		color: $opaque-white;
		cursor: pointer;
		transition: ease-in-out $transparency-transition;
	}
}
.selectedButton {
	background-color: $transparent-white;
	border: solid 2px $opaque-blue;
	color: $opaque-blue;

	&:hover {
		background-color: $opaque-white;
		border: solid 2px $opaque-blue;
		color: $opaque-blue;
	}
}
#playBtn {
	background-color: rgba(160, 160, 160, $high-transparency);
	border: solid 1px $opaque-white;
	color: $opaque-white;
}
#themes {
	@include fluid-type(font-size, 300px, 1200px, .6rem, 1.2rem);
	@include fluid-type(height, 300px, 1200px, 25px, 40px);
	@include fluid-type(width, 300px, 1200px, 102px, 180px);
	@include fluid-type(border-radius, 300px, 1200px, 6px, 10px);

	background-color: rgba(160, 160, 160, $high-transparency);
	border: solid 1px $opaque-white;
	color: $opaque-white;
}

@media screen and (orientation: landscape) {
	.buttonsContainer {
		margin-top: 80vh;
	}
}
