.textWrapper {
	display: none;
	padding: 20px;
	position: absolute;
	z-index: $quote-layer;

	height: 20vw;
	width: 90vw;
	max-height: 225px;
	max-width: 900px;
}
blockquote {
	@include fluid-type(font-size, 300px, 1200px, 12px, 36px);

	color: $opaque-white;
	font-family: Georgia, serif;
	font-style: italic;
	text-shadow: 4px 4px 8px black;
	margin: 0.25rem 0;
	padding: 0.35rem 2.3rem;
	position: relative;
}
blockquote:before {
	@include fluid-type(font-size, 300px, 1200px, 32px, 96px);
	@include fluid-type(left, 300px, 1200px, 0px, -16px);
	@include fluid-type(top, 300px, 1200px, -4px, -32px);
	@include fluid-type(padding-left, 300px, 1200px, 18px, 0px);

	color: $quotation-symbols;
	content: "\201C";
	display: block;
	position: absolute;
}
cite {
	@include fluid-type(font-size, 300px, 1200px, 10px, 28px);

	color: $opaque-white;
	display: block;
	font-style: normal;
	margin-left: 45%;
	margin-top: 5px;
	text-shadow: 3px 3px 5px black;
}
cite:before {
	color: $quotation-symbols;
	content: "\2014 \2009";
}

@media screen and (orientation: landscape) {
	.textWrapper {
		padding: 2px;
		height: 15vw;
		width: 80vw;
	}
	blockquote {
		@include fluid-type(font-size, 300px, 1200px, 10px, 24px);
	}
	cite {
		@include fluid-type(font-size, 300px, 1200px, 8px, 22px);
	}
}
