.buttonsContainer {
	display: flex;
	justify-content: center;
	margin-top: 85vh;
	position: absolute;
	width: 100%;
	z-index: $button-layer;
}
.buttonWrapper {
	@include fluid-type(margin-left, 300px, 1200px, 6px, 24px);
	@include fluid-type(margin-right, 300px, 1200px, 6px, 24px);
}
.appButton {
	@include fluid-type(font-size, 300px, 1200px, 8px, 24px);
	@include fluid-type(height, 300px, 1200px, 20px, 50px);
	@include fluid-type(width, 300px, 1200px, 20px, 50px);
	@include fluid-type(border-radius, 300px, 1200px, 6px, 10px);
	max-width: 60px;

	background-color: $transparent-gray;
	border: solid 2px $opaque-white;
	color: $opaque-white;
	outline: none;
	text-align: center;
	transition: ease-in-out $transparency-transition;
	&:hover {
		background-color: $opaque-gray;
		border: solid 1px $opaque-white;
		color: $opaque-white;
		cursor: pointer;
		transition: ease-in-out $transparency-transition;
	}
}
.selectedButton {
	background-color: $transparent-white;
	border: solid 2px $opaque-blue;
	color: $opaque-blue;

	&:hover {
		background-color: $opaque-white;
		border: solid 2px $opaque-blue;
		color: $opaque-blue;
	}
}
#themes {
	@include fluid-type(width, 300px, 1200px, 105px, 225px);
	max-width: 320px;

	font-weight: bolder;
	text-shadow: 1px 1px 3px black;
}

@media screen and (orientation: landscape) {
	.buttonsContainer {
		margin-top: 80vh;
	}
}
