.textContainer {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: $quote-layer;
}
.hidden {
	display: none;
}
.textWrapper {
	border-style: solid;
	border-width: 1px;
	border-image: linear-gradient(
			to left,
			rgba(255, 255, 255, 0.01) 1%,
			rgba(255, 255, 255, 0.2) 25%,
			rgba(255, 255, 255, 0.8) 50%,
			rgba(255, 255, 255, 0.2) 75%,
			rgba(255, 255, 255, 0.01) 100%
		)
		100% 0 100% 0/3px 0 3px 0 stretch;
	height: auto;
	padding: 40px 20px;
	max-width: 90vw;
}
blockquote {
	@include fluid-type(font-size, 300px, 1200px, 12px, 36px);

	color: $opaque-white;
	font-family: Georgia, serif;
	font-style: italic;
	text-align: start;
	text-shadow: 2px 2px 4px rgba(97, 97, 97, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8),
		2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 8px rgba(97, 97, 97, 0.8);
}
blockquote:before {
	@include fluid-type(font-size, 300px, 1200px, 32px, 96px);
	@include fluid-type(left, 300px, 1200px, 0px, -16px);
	@include fluid-type(top, 300px, 1200px, -4px, -32px);

	color: $quotation-symbols;
	content: "\201C";
}
blockquote:after {
	color: $quotation-symbols;
	content: "\201D";
}
.authorText {
	margin-top: 10px;
}
cite {
	@include fluid-type(font-size, 300px, 1200px, 10px, 28px);

	color: $opaque-white;
	font-style: normal;
	margin-left: 45%;
	text-shadow: 2px 2px 4px rgba(97, 97, 97, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8),
		2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.8), 2px 2px 8px rgba(97, 97, 97, 0.8);
}
cite:before {
	color: $quotation-symbols;
	content: "\2014 \2009";
}

@media screen and (orientation: landscape) {
	.textWrapper {
		max-width: 80vw;
	}
	blockquote {
		@include fluid-type(font-size, 300px, 1200px, 10px, 24px);
	}
	cite {
		@include fluid-type(font-size, 300px, 1200px, 8px, 22px);
	}
}
