/* -- QUOTE TEXT --------------------------------------------*/
$author-font-size: calc(18px + 0.6vw);
$author-left-offset: 38%;
$quote-font-size: calc(18px + 0.5vw);
$quote-box-height: 30vh;
$quote-box-width: calc(360px + 20vw);
$quote-symbol-font-size: calc(46px + 2vw);
$quote-symbol-offset: calc(-2px - 1.4vw);
$quotation-symbols: #b5b5b5;

/* -- BUTTONS --------------------------------------------*/
//Button Layout/Sizing
$buttons-top-margin: 85vh;
$button-size: 40px;
$icon-font-size: 1.4rem;

//Button Misc Variables
$high-transparency: 0.3;
$mid-transparency: 0.5;
$transparency-transition: 0.25s;

//Button Colors
$mid-white: rgba(255, 255, 255, $mid-transparency);
$opaque-white: rgba(255, 255, 255, 1);
$transparent-white: rgba(255, 255, 255, $high-transparency);
$opaque-gray: rgba(128, 128, 128, 1);
$transparent-gray: rgba(128, 128, 128, $high-transparency);
$opaque-blue: rgba(0, 0, 182, 1);

/* -- INFO MODAL --------------------------------------------*/
$content-padding-x: 14px;
